@model IEnumerable<Sina_CSC_Project.Models.StateDetailViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>لیست استان‌ها</h1>
<br />
<br />
<p>
    <a asp-action="Create" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>ایجاد استان جدید</a>
</p>
<table id="TblData" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StateId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CountryId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StateId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StateName)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.CountryId)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Country.CountryName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StateId" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a asp-action="Details" asp-route-id="@item.StateId" class="btn btn-info"><i class="fa fa-info" aria-hidden="true"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.StateId" class="btn btn-danger" onclick="return confirm('آیا برای حذف اطلاعات مطمئن هستید؟')"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>

        $(document).ready(function () {
            $('#TblData').DataTable();
        });

    </script>
}